# Local server configuration

[Interface]
#Remote Tunnel
PrivateKey=[PRIVATE KEY]
Address=10.253.0.1
ListenPort=51820
PostUp=logger -t wireguard 'Tunnel WireGuard-wg0 started';/usr/local/emhttp/webGui/scripts/update_services
PostUp=iptables -t nat -A POSTROUTING -s 10.253.0.0/24 -o br0 -j MASQUERADE;iptables -t nat -A POSTROUTING -s 10.253.0.0/24 -o vhost0 -j MASQUERADE
PostDown=logger -t wireguard 'Tunnel WireGuard-wg0 stopped';/usr/local/emhttp/webGui/scripts/update_services
PostDown=iptables -t nat -D POSTROUTING -s 10.253.0.0/24 -o br0 -j MASQUERADE;iptables -t nat -D POSTROUTING -s 10.253.0.0/24 -o vhost0 -j MASQUERADE
PostUp=ip -4 route flush table 200
PostUp=ip -4 route add default via 10.253.0.1 dev wg0 table 200
PostUp=ip -4 route add 192.168.7.0/24 via 192.168.7.1 dev br0 table 200
PostDown=ip -4 route flush table 200
PostDown=ip -4 route add unreachable default table 200
PostDown=ip -4 route add 192.168.7.0/24 via 192.168.7.1 dev br0 table 200

[Peer]
#LAN-Desktop-Justin
PublicKey=[PUBLIC KEY]
PresharedKey=[PRE SHARED KEY]
AllowedIPs=10.253.0.6
PersistentKeepalive=30

[Peer]
#VPS
PublicKey=[PUBLIC KEY]
PresharedKey=[PRESHARED KEY]
AllowedIPs=10.253.0.8
PersistentKeepalive=30

[Peer]
#iPhone
PublicKey=[PUBLIC KEY]
PresharedKey=[PRESHARED KEY]
AllowedIPs=10.253.0.9

[Peer]
#Framework Laptop Justin
PublicKey=[PUBLIC KEY]
PresharedKey=[PRE SHARED KEY]
AllowedIPs=10.253.0.11
PersistentKeepalive=30
