[Unit]
Description=Docker Compose - Media Stack
Requires=docker.service network-online.target mnt-nas-media.mount
After=docker.service network-online.target mnt-nas-media.mount

[Service]
Type=oneshot
RemainAfterExit=yes
User=dockeruser
Group=dockeruser
WorkingDirectory=/srv/containers
ExecStart=/usr/bin/docker compose -f media.yml up -d
ExecStop=/usr/bin/docker compose -f media.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
