[Unit]
Description=Docker Compose - Cloud Stack
Requires=docker.service network-online.target mnt-nas-nextcloud.mount mnt-nas-immich.mount
After=docker.service network-online.target mnt-nas-nextcloud.mount mnt-nas-immich.mount

[Service]
Type=oneshot
RemainAfterExit=yes
User=dockeruser
Group=dockeruser
WorkingDirectory=/srv/containers
ExecStart=/usr/bin/docker compose -f cloud.yml up -d
ExecStop=/usr/bin/docker compose -f cloud.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
