[Unit]
Description=Docker Compose - Web Stack
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=dockeruser
Group=dockeruser
WorkingDirectory=/srv/containers
ExecStart=/usr/bin/docker compose -f web.yml up -d
ExecStop=/usr/bin/docker compose -f web.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
