[Unit]
Description=Home directory setup for core user
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/share/setup-scripts/dotfiles.sh
ExecStart=/bin/bash /usr/share/setup-scripts/compose.sh
ExecStart=/bin/bash /usr/share/setup-scripts/wireguard.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
