[Unit]
Description=Podman Compose - Web Stack
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=dockeruser
Group=dockeruser
WorkingDirectory=/srv/containers
ExecStart=/usr/local/bin/podman-compose -f web.yml up -d
ExecStop=/usr/local/bin/podman-compose -f web.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
